<routes>
    <post>
        <signup></signup>
        <login></login>
        <userdetails></userdetails>
        <matchupdate></matchupdate>
        <refreshsessiontoken></refreshsessiontoken>
        <resetpassword></resetpassword>
        <matchanswer></matchanswer>
        <topprofile></topprofile>
        <matchwinnerupdate></matchwinnerupdate>
        <matchschedule></matchschedule>
    </post>
    <get>
    </get>
</routes>